body {
  padding: 0px;
  margin: 0px;
}

.container img {
  height: 70px;
}

#header {
  /* margin-top: 20px; */
  padding: 20px;
  background: linear-gradient(90deg,
     rgb(241, 4, 202) 0%,
     rgb(247, 20, 20) 79%
  );
}

#toko {
  margin-top: 20px;
}
.container-fluid a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.carousel-inner img {
  background-position: center;
  background-size: cover;
}

.card {
  border-radius: 10px;
}
.card #gambar {
  width: 100%;
  height: 350px;
}