body {
    background-image: url('../img/pattern.jpg');
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header nav ul li {
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
}
header nav ul a {
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}

header nav ul a:hover {
    font-size: 20px;
    padding: 5px;
    color: black;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    line-height: 50px;
}

.container h1 {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

.container #article-list {
    padding: 30px;
    grid-template-columns: auto;
}

.container #article-list a {
    text-decoration: none;
    font-weight: bold;
    color: cornflowerblue;
}

.container #article-list a:hover {
    text-decoration: none;
    font-style: italic;
    color: black;
}
footer {
    display: flex;
    background-color: black;
    height: 90px;
    justify-content: center;
}

footer h5 {
    color: white;
    line-height: 90px;
    position: center;
}

footer h5 a {
    color: chartreuse;
    text-decoration: none;
}

footer h5 a:hover {
    color: aquamarine;
}

footer h5 a:active {
    color: rosybrown;
}